.App {
  box-sizing: border-box;
  border: 2px solid black;
  height: 700px;
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 20px;
  margin-bottom: 10px;
  background-color: whitesmoke;
  opacity: 70%;
}
label{
  margin-left: 5px;
}
input{
  margin: 10px;
}

h3{
  text-align: center;
}

#up{
  background-color: #064E3B;
  opacity: 90%;
  color: white;
}

#down{
  background-color: #737373 ;
  opacity: 80%;
  border: 1px solid green;
  color: whitesmoke;
}

#submit{
  margin-left: 40%;
  background-color: green;
  padding: 10px;
  border-radius: 5px;
}
#submit:hover{
  margin-left: 40%;
  background-color: whitesmoke;
  color: green;
  padding: 10px;
  border-radius: 5px;
}

#display-data{
  width: 300px;
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
}

p{
  color: green;
}


#i1{
  margin-left: 72px;
}
#i2{
  margin-left: 72px;
}
#i3{
  margin-left: 48px;
}
#i4{
  margin-left: 80px;
}
#i5{
  margin-left: 20px;
}
